{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'categorys' %}

{% block content %}

{#    {{ dump(category) }}#}

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ ('form_category_edit_title')|trans }}</h2>
        <form class="needs-validation" action="{{ url_for('article.category.edit', {'id': category.id}) }}" method="post" novalidate>

            {{ flash('error')|raw }}

            <div class="form-group">
                <label for="ref">{{ 'ref'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('ref') }}"
                       id="ref"
                       name="ref"
                       aria-describedby="refHelp"
                       value="{{ category.ref }}">
                <small id="refHelp" class="form-text text-muted">{{ 'category_ref_help'|trans }}.</small>
                {{ vld_feedback('ref')|raw }}
            </div>

            <div class="form-group">
                <label for="number">{{ 'number'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('number') }}"
                       id="number"
                       name="number"
                       aria-describedby="numberHelp"
                       value="{{ category.number }}">
                <small id="numberHelp" class="form-text text-muted">{{ 'category_number_help'|trans }}.</small>
                {{ vld_feedback('number')|raw }}
            </div>

            <div class="form-group">
                <label for="label_pl">{{ 'label_pl'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('label_pl') }}"
                       id="label_pl"
                       name="label_pl"
                       aria-describedby="labelPlHelp"
                       value="{{ category.label_pl }}">
                <small id="labelPlHelp" class="form-text text-muted">{{ 'version_label_pl_help'|trans }}.</small>
                {{ vld_feedback('label_pl')|raw }}
            </div>

            <div class="form-group">
                <label for="label_en">{{ 'label_en'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('label_en') }}"
                       id="label_en"
                       name="label_en"
                       aria-describedby="labelEnHelp"
                       value="{{ category.label_en }}">
                <small id="labelEnHelp" class="form-text text-muted">{{ 'version_label_en_help'|trans }}.</small>
                {{ vld_feedback('label_en')|raw }}
            </div>

            <div class="form-group">
                <label for="info_pl">{{ 'info_pl'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('info_pl') }}"
                       id="info_pl"
                       name="info_pl"
                       aria-describedby="infoPlHelp"
                       value="{{ category.info_pl }}">
                <small id="infoPlHelp" class="form-text text-muted">{{ 'version_info_pl_help'|trans }}.</small>
                {{ vld_feedback('info_pl')|raw }}
            </div>

            <div class="form-group">
                <label for="info_en">{{ 'info_en'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('info_en') }}"
                       id="info_en"
                       name="info_en"
                       aria-describedby="infoEnHelp"
                       value="{{ category.info_en }}">
                <small id="infoEnHelp" class="form-text text-muted">{{ 'version_info_en_help'|trans }}.</small>
                {{ vld_feedback('info_en')|raw }}
            </div>

            <div class="form-group">
                <label for="description_pl">{{ 'description_pl'|trans }}:</label>
                <textarea class="form-control {{ vld_style('description_pl') }}"
                          style="min-height:110px;"
                          id="description_pl"
                          name="description_pl"
                          aria-describedby="descriptionPlHelp">{{ category.description_pl }}</textarea>
                <small id="descriptionPlHelp" class="form-text text-muted">{{ 'version_description_pl_help'|trans }}.</small>
                {{ vld_feedback('description_pl')|raw }}
            </div>

            <div class="form-group">
                <label for="description_en">{{ 'description_en'|trans }}:</label>
                <textarea class="form-control {{ vld_style('description_en') }}"
                          style="min-height:110px;"
                          id="description_en"
                          name="description_en"
                          aria-describedby="descriptionEnHelp">{{ category.description_en }}</textarea>
                <small id="descriptionEnHelp" class="form-text text-muted">{{ 'version_description_en_help'|trans }}.</small>
                {{ vld_feedback('description_en')|raw }}
            </div>

            {{ csrf()|raw }}

            <div class="text-right">
                <a class="btn btn-secondary" href="{{ url_for('article.categorys.show') }}" role="button">{{ 'cancel'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
            </div>

        </form>
    </div>
{% endblock %}