{% extends '@app/e-commerce-layout.html.twig' %}

{% set page_title = 'e-commerce'|trans %}
{% set active_item = 'e-commerce' %}
{% set active_sub_item = 'subcategorys' %}

{% set local = session('local') %}

{% block content %}

	<!-- Main -->
	<div id="main" class="alt">
		<!-- Products  -->
		<div class="inner">

			<h2 id="main_ttl" class="flying_letters">Torby papierowe</h2>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
			<script>
				// Wrap every letter in a span
				var desktopViewport = window.matchMedia("screen and (min-width: 780px)");
				if(desktopViewport.matches) {
					//
					var textWrapper = document.querySelector('.flying_letters');
					textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

					anime.timeline({loop: false})
							.add({
								targets: '.flying_letters .letter',
								translateX: [40,0],
								translateZ: 0,
								opacity: [0,1],
								easing: "easeOutExpo",
								duration: 1200,
								delay: (el, i) => 500 + 30 * i
							});
					//
				} else {
					// viewport < 780px
				}
			</script>

			<section class="tiles_produkty">
				{% for subcategory in subcategorys %}
					<article>
						<span class="image">
							<img src="{{ url_for('main.index') }}img/item/{{ subcategory.ref }}.jpg" alt="" />
						</span>
						<a href="{{ subcategory.ref }}" class=" {{ 'subcategory-tile-' ~ subcategory.number }}">
							<h2>{{ subcategory['label_' ~ local] }}</h2>
							<div class="content">
								<p>{{ subcategory['info_' ~ local] }}</p>
							</div>
						</a>
					</article>
				{% endfor %}
			</section>

		</div>

	</div>
					
{% endblock %}