{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'categorys' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% block content %}
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ flash_values.page_title|trans }}</h2>
        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'ref'|trans }}</th>
                <th scope="col">{{ 'number'|trans }}</th>
                <th scope="col">{{ 'label_pl'|trans }}</th>
                <th scope="col">{{ 'label_en'|trans }}</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for category in categorys %}
                {% set n = n + 1 %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ category.info }}">
                    <th scope="row">{{ n }}</th>
                    <td>{{ category.ref }}</td>
                    <td>{{ category.number }}</td>
                    <td>{{ category.label_pl }}</td>
                    <td>{{ category.label_en }}</td>
                    <td><a href="{{ url_for('article.category.edit', {'id': category.id}) }}">{{ 'modify'|trans }}</a></td>
                    <td><a href="{{ url_for('article.category.delete', {'id': category.id}) }}">{{ 'delete'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination.links|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('cms.index') }}" role="button">{{ 'back'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('article.category.add') }}" role="button">{{ 'add'|trans }}</a>
        </div>
    </div>
{% endblock %}
