{% extends '@app/layout.html.twig' %}

{% set page_title = 'main'|trans %}
{% set active_item = 'main' %}

{% set local = session('local') %}

{% block content %}
    <!-- Main -->
    <div id="main">

        <!-- Kafelki -->
        <section id="kafelki" class="tiles">

            {% for category in categorys %}
                <article>
                <span class="image">
                    <img src="{{ url_for('main.index') }}img/{{ category['ref'] }}.jpg" alt="{{ category['label_' ~ local] }}" />
                </span>
                    <header class="major">
                        <h3><a href="/{{ category['ref'] }}" class="link">{{ category['label_' ~ local] }}</a></h3>
                        <p>{{ category['info_' ~ local] }}</p>
                    </header>
                </article>
            {% endfor %}

        </section>

        <!-- Dodatki -->
        <div class="inner">

            <header class="major">
                <h2>Dodatki</h2>
            </header>

            <section class="tiles_produkty">

                <article class="style1">
                    <span class="image">
                        <img src="{{ url_for('main.index') }}img/dodatki_sznurki.jpg" alt="" />
                    </span>
                    <a href="dodatki">
                        <h2>{{ 'uchwyty_toreb'|trans }} <br /> {{ 'folie_hot_stamping'|trans }}</h2>
                        <div class="content">
                            <p>Dostępne rodzaje i kolorysyka</p>
                        </div>
                    </a>
                </article>

                <article class="style2">
                    <span class="image">
                        <img src="{{ url_for('main.index') }}img/dodatki_szablony.jpg" alt="" />
                    </span>
                    <a href="szablony">
                        <h2>{{ 'szablony_graficzne'|trans }}</h2>
                        <div class="content">
                            <p>Dostępne do ściągnięcia w formacie PDF</p>
                        </div>
                    </a>
                </article>

                <article class="style3">
                    <span class="image">
                        <img src="{{ url_for('main.index') }}img/dodatki_realizacje.jpg" alt="" />
                    </span>
                    <a href="realizacje">
                        <h2>{{ 'realizacje'|trans }}</h2>
                        <div class="content">
                            <p>Galeria zdjęć z naszymi realizacjami </p>
                        </div>
                    </a>
                </article>

            </section>
        </div>
        <!-- Profile -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Profil firmy</h2>
                </header>
                <p>Jesteśmy firmą poligraficzną specjalizującą się w produkcji toreb papierowych. W naszej ofercie znajdą Państwo torby papierowe z różnych surowców i z różnym wykończeniem.
                    Dzięki szerokiemu zapleczu technicznemu jesteśmy w stanie spełnić niemal każde Państwa oczekiwania. Oferujemy druk offsetowy w kolorach CMYK i Pantone,
                    kolorach specjalnych i metalizowanych, laminowanie matowe i błyszczące, lakier offsetowy, wybiórczy UV, złocenie, tłoczenie i inne indywidualne wykończenia wykonywane
                    w introligatorni. Naszym stałym klientom oferujemy poza torbami kompleksową obsługę poligraficzną. Dzięki wieloletniemu doświadczeniu w branży jesteśmy w stanie zaoferować
                    solidny produkt wysokiej jakości w atrakcyjnej cenie.<br />
                    Zapraszamy do zapoznania się z serwisem mając nadzieję że nasza oferta przypadnie Państwu do gustu.</p>
                <ul class="actions">
                    <li><a href="produkty" class="button next">Pełna oferta</a></li>
                </ul>
            </div>
        </section>
    </div>

{% endblock %}