<!doctype html>
<html lang="{{ session('local')}}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- Custom styles -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href={{ url_for('main.index') }}css/layout.css>

    <title>{{ page_title }}</title>

    {% if recaptcha_api_script is defined %}
        {{ recaptcha_api_script|raw }}
    {% endif %}
</head>
<body>
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">{{ 'service_name'|trans }}</h3>
            <nav class="nav nav-masthead justify-content-end">
                {% if mode() == 'visitor' %}
                    <a class="nav-link {{ active('log_in', active_item) }}" href="{{ url_for('authe.credential.login') }}">{{ 'log_in'|trans }}</a>
                {% endif %}
                {% if mode() == 'user' %}
                    <a class="nav-link {{ active('log_out', active_item) }}" href="{{ url_for('authe.credential.logout') }}">{{ 'log_out'|trans }}</a>
                {% endif %}
                <a class="nav-link {{ active('pl', local()) }}" href="{{ url_for('dashboard.index', {'local': 'pl'}) }}">{{ 'pl' }}</a>
                <a class="nav-link {{ active('en', local()) }}" href="{{ url_for('dashboard.index', {'local': 'en'}) }}">{{ 'en' }}</a>
                <div class="w-100"></div>
                <a class="nav-link {{ active('main', active_item) }}" href="{{ url_for('main.index') }}">{{ 'main'|trans }}</a>
                <a class="nav-link {{ active('dashboard', active_item) }}" href="{{ url_for('dashboard.index') }}">{{ 'dashboard'|trans }}</a>
                {% if mode() == 'user' %}
                    <a class="nav-link {{ active('cms', active_item) }}" href="{{ url_for('cms.index') }}">{{ 'cms'|trans }}</a>
                    <a class="nav-link {{ active('admin', active_item) }}" href="{{ url_for('admin.index') }}">{{ 'admin'|trans }}</a>
                {% endif %}
                <div class="w-100"></div>
                {% if mode() == 'user' %}
                    {% if active_item == 'admin' %}
                        <a class="nav-link {{ active('credentials', active_sub_item) }}" href="{{ url_for('authe.credentials.show') }}">{{ 'credentials'|trans }}</a>
                        <a class="nav-link {{ active('accesses', active_sub_item) }}" href="{{ url_for('autho.accesses.show') }}">{{ 'accesses'|trans }}</a>
                        <a class="nav-link {{ active('fields', active_sub_item) }}" href="{{ url_for('autho.fields.show') }}">{{ 'fields'|trans }}</a>
                        <a class="nav-link {{ active('privileges', active_sub_item) }}" href="{{ url_for('autho.privileges.show') }}">{{ 'privileges'|trans }}</a>
                        <a class="nav-link {{ active('roles', active_sub_item) }}" href="{{ url_for('autho.roles.show') }}">{{ 'roles'|trans }}</a>
                    {% endif %}
                    {% if active_item == 'cms' %}
                        <a class="nav-link {{ active('categorys', active_sub_item) }}" href="{{ url_for('article.categorys.show') }}">{{ 'categorys'|trans }}</a>
                        <a class="nav-link {{ active('subcategorys', active_sub_item) }}" href="{{ url_for('article.subcategorys.show') }}">{{ 'subcategorys'|trans }}</a>
                        <a class="nav-link {{ active('features', active_sub_item) }}" href="{{ url_for('article.features.show') }}">{{ 'features'|trans }}</a>
                        <a class="nav-link {{ active('options', active_sub_item) }}" href="{{ url_for('article.options.show') }}">{{ 'options'|trans }}</a>
                        <a class="nav-link {{ active('quantitys', active_sub_item) }}" href="{{ url_for('article.quantitys.show') }}">{{ 'quantitys'|trans }}</a>
                    {% endif %}
                {% endif %}
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>{{ 'all_rights'|trans }}</p>
        </div>
    </footer>
</div>
<script>let articleOptionsSearchEditUrl = "{{ url_for('article.options.search', {'mode': 'edit'}) }}"</script>
<script>let articleOptionsSearchAddUrl = "{{ url_for('article.options.search', {'mode': 'add'}) }}"</script>
<script>let articleQuantitysSearchEditUrl = "{{ url_for('article.quantitys.search', {'mode': 'edit'}) }}"</script>
<script>let articleQuantitysSearchAddUrl = "{{ url_for('article.quantitys.search', {'mode': 'add'}) }}"</script>
<script type="text/javascript" src="{{ url_for('main.index') }}js/tj-dashboard.js"></script>
</body>
</html>