<!doctype html>
<html lang="{{ session('local')}}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- Custom styles -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href={{ url_for('main.index') }}css/layout.css>
    <link rel="stylesheet" type="text/css" href={{ url_for('main.index') }}css/tiles.css>

    <title>{{ page_title }}</title>

    {% if recaptcha_api_script is defined %}
        {{ recaptcha_api_script|raw }}
    {% endif %}
</head>
<body>
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">{{ 'service_name'|trans }}</h3>
            <nav class="nav nav-masthead justify-content-end">
                {% if mode() == 'visitor' %}
                    <a class="nav-link {{ active('log_in', active_item) }}" href="{{ url_for('authe.credential.login') }}">{{ 'log_in'|trans }}</a>
                    <a class="nav-link {{ active('subscribe', active_item) }}" href="{{ url_for('authe.credential.subscribe') }}">{{ 'subscribe'|trans }}</a>
                {% endif %}
                {% if mode() == 'user' %}
                    <a class="nav-link {{ active('log_out', active_item) }}" href="{{ url_for('authe.credential.logout') }}">{{ 'log_out'|trans }}</a>
                    <a class="nav-link {{ active('unsubscribe', active_item) }}" href="{{ url_for('authe.credential.unsubscribe') }}">{{ 'unsubscribe'|trans }}</a>
                {% endif %}
                <a class="nav-link {{ active('pl', local()) }}" href="{{ url_for('main.index.local', {'local': 'pl'}) }}">{{ 'pl' }}</a>
                <a class="nav-link {{ active('en', local()) }}" href="{{ url_for('main.index.local', {'local': 'en'}) }}">{{ 'en' }}</a>
                <div class="w-100"></div>
                <a class="nav-link {{ active('main', active_item) }}" href="{{ url_for('main.index') }}">{{ 'main'|trans }}</a>
                <a class="nav-link {{ active('e-commerce', active_item) }}" href="{{ url_for('e-commerce.index') }}">{{ 'e-commerce'|trans }}</a>
                <div class="w-100"></div>
{#                <a class="nav-link {{ active('categorys', active_sub_item) }}" href="{{ url_for('article.categorys.show') }}">{{ 'categorys'|trans }}</a>#}
{#                <a class="nav-link {{ active('subcategorys', active_sub_item) }}" href="{{ url_for('article.subcategorys.show') }}">{{ 'subcategorys'|trans }}</a>#}
                {% if mode() == 'user' %}

{#                        <a class="nav-link {{ active('credentials', active_sub_item) }}" href="{{ url_for('authe.credentials.show') }}">{{ 'credentials'|trans }}</a>#}
{#                        <a class="nav-link {{ active('accesses', active_sub_item) }}" href="{{ url_for('autho.accesses.show') }}">{{ 'accesses'|trans }}</a>#}
{#                        <a class="nav-link {{ active('fields', active_sub_item) }}" href="{{ url_for('autho.fields.show') }}">{{ 'fields'|trans }}</a>#}
{#                        <a class="nav-link {{ active('privileges', active_sub_item) }}" href="{{ url_for('autho.privileges.show') }}">{{ 'privileges'|trans }}</a>#}
{#                        <a class="nav-link {{ active('roles', active_sub_item) }}" href="{{ url_for('autho.roles.show') }}">{{ 'roles'|trans }}</a>#}
                {% endif %}
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>{{ 'all_rights'|trans }}</p>
        </div>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>