<!doctype html>
<html lang="{{ session('local')}}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <!-- Custom styles -->
    <style>
        .flying_letters {
		  font-weight: 200;
		  text-transform: uppercase;
		  letter-spacing: 0.5em;
		}

		.flying_letters .letter {
		  display: inline-block;
		  line-height: 1em;
		}
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.index') }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.index') }}css/produkty.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('main.index') }}css/jquery.fancybox.min.css" />
    <noscript><link rel="stylesheet" href="{{ url_for('main.index') }}css/noscript.css" /></noscript>

    <title>{{ page_title }}</title>

    {% if recaptcha_api_script is defined %}
        {{ recaptcha_api_script|raw }}
    {% endif %}
</head>
<body class="landing is-preload">

<!-- Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <a href="{{ url_for('main.index') }}" class="logo {{ active('main', active_item) }}" ><strong>{{ 'service_name'|trans }}</strong> <span>{{ 'service_subname'|trans }}</span></a>
        <ul>
            <li>
                <a class=" {{ active('e-commerce', active_item) }}" href="{{ url_for('e-commerce.index') }}" ><!--{{ 'e-commerce'|trans }}--><i class="fas fa-shopping-cart"></i></a>
                {% if mode() == 'user' %}
                    {% if active_item == 'e-commerce' %}

                    {% endif %}
                {% endif %}
            </li>
        </ul>
        <nav id="nav">
            <ul>
                <li>
                    <a href="#menu"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{{ url_for('main.index') }}">Start</a></li>
                            <li><br /><a href="#">Produkty</a></li>
                            <li><br /><a href="#">Dodatki</a></li>
                            <li><a href="#">Szablony graficzne</a></li>
                            <li><a href="#">Realizacje</a></li>
                            <li><a href="#">Kontakt</a></li>
                            {% if mode() == 'visitor' %}
                                <li><br /><i class="user fas fa-user-alt"></i><br /><a class="{{ active('log_in', active_item) }}" href="{{ url_for('authe.credential.login') }}">{{ 'log_in'|trans }}</a></li>
                                <li><a class="{{ active('subscribe', active_item) }}" href="{{ url_for('authe.credential.subscribe') }}">{{ 'subscribe'|trans }}</a></li>
                            {% endif %}
                            {% if mode() == 'user' %}
                                <li><br /><i class="user fas fa-user-alt"></i><br /><a href="">{{ 'edit_profile'|trans }}</a></li>
                                <li><a href="">{{ 'your_orders'|trans }}</a></li>
                                <li><a class="{{ active('log_out', active_item) }}" href="{{ url_for('authe.credential.logout') }}">{{ 'log_out'|trans }}</a></li>
                                <li><a class="{{ active('unsubscribe', active_item) }}" href="{{ url_for('authe.credential.unsubscribe') }}">{{ 'unsubscribe'|trans }}</a></li>
                            {% endif %}
                        </ul>
                        <div id="flags">
                            <a class=" {{ active('pl', local()) }}" href="{{ url_for('main.index.local', {'local': 'pl'}) }}"><img class="flag" style="border:1px" src="{{ url_for('main.index') }}img/lang_pl.png" /></a>
                            <a class=" {{ active('en', local()) }}" href="{{ url_for('main.index.local', {'local': 'en'}) }}"><img class="flag" src="{{ url_for('main.index') }}img/lang_en.png" /></a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>




    {% block content %}{% endblock %}


    <!-- Bottom menu -->
    <div id="bottom">
        <ul class="copyright">
            <li>{{ 'all_rights'|trans }}</li><li>Design: <a href="https://tribet.pl">TRIBET</a></li>
        </ul>
        <nav>
            <ul>
                <li><span class="icon solid alt fa-envelope" style="padding-left:2em; border-left: solid 1px rgba(212, 212, 255, 0.1); font-size:0.7em;"></span>
                    <a href="mailto:wyceny@tribet.pl" style="font-size:0.7em; text-transform: none; letter-spacing: 0.1em;">wyceny@tribet.pl</a> &nbsp; </li>
                <li><span class="icon solid alt fa-phone" style="padding-left:2em; border-left: solid 1px rgba(212, 212, 255, 0.1); font-size:0.7em;"></span>
                    <a href="tel:+48501058017" style="font-size:0.7em; text-transform: none; letter-spacing: 0.1em; ">(+48) 501 058 017</a></li>
                <li><a href="#footer" class="produkty" id="btn_produkty">Produkty  <i class="fas fa-angle-double-up"></i></a></li>
            </ul>
        </nav>
    </div>


    <!-- Footer mobile -->
    <div class="footer2">
        <div style="padding: 2em 2em 0 2em ;">
            <ul class="copyright">
                <li><span class="icon solid alt fa-envelope" style="font-size:1.3em; line-height: 3em; padding-right: 1em;"></span> <a href="mailto:wyceny@tribet.pl" style="font-size:1.3em; text-transform: none; letter-spacing: 0.1em; color: #ffffff; ">wyceny@tribet.pl</a> &nbsp; </li>
                <li><span class="icon solid alt fa-phone" style="font-size:1.3em; line-height: 3em; padding-right: 1em;"></span> <a href="tel:+48501058017" style="font-size:1.3em; text-transform: none; letter-spacing: 0.1em; color: #ffffff; ">(+48) 501 058 017</a></li>
                <li><span style=""><br />{{ 'all_rights'|trans }}</li>
                <li>Design: <a href="https://tribet.pl">TRIBET</a></span></li>
            </ul>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer" class="panel">
        <br /><span style="padding: 0 0 0 0; ">Wybierz Produkt</span>
        <div class="inner2 split"  style="padding: 1em 0 0 0 ;">
            <div>
                <section>
                    <strong><a href="produkty_torby_papierowe"><i class="fas fa-shopping-bag" style="color:#37a6cb"></i> Torby papierowe</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="torby_laminowane">Torby papierowe laminowane</a><br />
                        <a href="torby_kraftowe">Torby papierowe kraftowe</a><br />
                        <a href="torby_kartonowe">Torby papierowe kartonowe</a><br />
                        <a href="torby_ekologiczne">Torby papierowe ekologiczne</a><br />
                        <a href="torby_ekologiczne_kolorowe">Torby papierowe ekologiczne CMYK</a>
                    </p>

                    <strong><a href="produkty_teczki"><i class="fas fa-folder-open" style="color:#37a6cb"></i> Teczki ofertowe</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="teczki">Teczki jednobigowe (płaskie)</a><br />
                        <a href="teczki">Teczki jednobigowe z wizytówką</a><br />
                        <a href="teczki">Teczki dwubigowe (z grzbietem 5-10mm)</a><br />
                        <a href="teczki">Teczki dwubigowe z wizytówką</a><br />
                        <a href="teczki">Teczki dwubigowe z gumką</a><br />
                        <a href="teczki">Teczki dwubigowe z gumką i wizytówką</a>
                    </p>
                </section>
            </div>
            <div>
                <section>
                    <strong><a href="produkty_katalogi"><i class="fas fa-book-open" style="color:#37a6cb"></i> Katalogi</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="katalogi_szyte">Katalogi szyte</a><br />
                        <a href="katalogi_klejone">Katalogi klejone</a><br />
                        <a href="katalogi_spiralowane">Katalogi spiralowane</a>
                    </p>

                    <strong><a href="produkty_notesy"><i class="fas fa-address-book" style="color:#37a6cb"></i> Notesy</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="notesy_klejone">Notesy klejone bez okładki</a><br />
                        <a href="notesy_klejone_z_okladka">Notesy klejone z okładką</a><br />
                        <a href="notesy_spiralowane">Notesy spiralowane</a>
                    </p>

                    <strong><a href="produkty_ulotki"><i class="fas fa-map" style="color:#37a6cb"></i> Ulotki</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="ulotki">Ulotki</a><br />
                        <a href="ulotki">Ulotki składane na pół</a><br />
                        <a href="ulotki">Ulotki składane na trzy</a>
                    </p>
                </section>
            </div>
            <div>
                <section>
                    <strong><a href="produkty_wizytowki"><i class="fas fa-address-card" style="color:#37a6cb"></i> Wizytówki</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="wizytowki">Wizytówki</a><br />
                        <a href="wizytowki_skladane">Wizytówki składane</a>
                    </p>

                    <strong><a href="produkty_plakaty"><i class="fas fa-scroll" style="color:#37a6cb"></i> Plakaty</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="">Plakaty standardowe</a><br />
                        <a href="">Plakaty listwowane</a><br />
                        <a href="">Plakaty wielkoformatowe</a>
                    </p>

                    <strong><i class="fas fa-dice-d6" style="color:#37a6cb"></i> Inne produkty</strong>
                    <p style="font-size:0.8em;">
                        <a href="">Papier firmowy</a><br />
                        <a href="">Zaproszenia</a><br />
                        <a href="pudelka">Pudełka</a><br />
                        <a href="">Woblery</a>
                    </p>
                </section>
            </div>
            <div>
                <section>
                    <strong><a href="kalendarze"><i class="fas fa-calendar-alt" style="color:#37a6cb"></i> Kalendarze</a></strong>
                    <p style="font-size:0.8em;">
                        <a href="kalendarze">Kalendarze trójdzielne</a><br />
                        <a href="kalendarze">Kalendarze trójdzielne spiralowe</a><br />
                        <a href="kalendarze">Kalendarze dwudzielne</a><br />
                        <a href="kalendarze">Kalendarze jednodzielne</a><br />
                        <a href="kalendarze">Kalendarze płaskie z okienkiem</a><br />
                        <a href="kalendarze">Kalendarze biurkowe stojące</a><br />
                        <a href="kalendarze">Kalendarze biurkowe stojące spiralowe</a><br />
                        <a href="kalendarze">Kalendarze typu biuwar</a><br />
                        <a href="kalendarze">Kalendarze piórnikowe</a><br />
                        <a href="kalendarze">Kalendarze listkowe</a><br />
                        <a href="kalendarze">Kalendarze ścienne listwowane</a><br />
                        <a href="kalendarze">Kalendarze ścienne spiralowane</a><br />
                        <a href="kalendarze">Kalendarze ścienne planery</a><br />
                        <a href="kalendarze">Kalendarze książkowe szyto-klejone</a>
                    </p>
                </section>
            </div>
        </div>
    </footer>


</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- Scripts -->

<script src="{{ url_for('main.index') }}js/jquery.min.js"></script>
<script src="{{ url_for('main.index') }}js/jquery.scrolly.min.js"></script>
<script src="{{ url_for('main.index') }}js/jquery.scrollex.min.js"></script>
<script src="{{ url_for('main.index') }}js/browser.min.js"></script>
<script src="{{ url_for('main.index') }}js/breakpoints.min.js"></script>
<script src="{{ url_for('main.index') }}js/util.js"></script>
<script src="{{ url_for('main.index') }}js/main.js"></script>
<script src="{{ url_for('main.index') }}js/btn_produkty.js"></script>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ url_for('main.index') }}js/jquery.fancybox.min.js"></script>
<script>
    $('[data-fancybox="gallery"]').fancybox({
        closeExisting: false,
        loop: true,
        gutter: 50,
        keyboard: true,
        preventCaptionOverlap: true,
        arrows: true,
        infobar: true,
        smallBtn: "auto",
        toolbar: "auto",
        buttons: [
            "zoom",
            //"share",
            "slideShow",
            //"fullScreen",
            //"download",
            //"thumbs",
            "close"
        ],
        idleTime: 3,
        // Disable right-click and use simple image protection for images
        protect: true,
        modal: false,
        image: {
            preload: false
        },
        ajax: {
            settings: {
                data: {
                    fancybox: true
                }
            }
        },
        iframe: {
            tpl:
                '<iframe id="fancybox-frame{rnd}" name="fancybox-frame{rnd}" class="fancybox-iframe" allowfullscreen allow="autoplay; fullscreen" src=""></iframe>',
            preload: true,
            css: {},
            attr: {
                scrolling: "auto"
            }
        },
        defaultType: "image",
        // Open/close animation type
        // Possible values: false/ zoom/ fade/ zoom-in-out
        animationEffect: "zoom",
        animationDuration: 366,
        zoomOpacity: "auto",
        // Transition effect between slides
        //   'false' "fade' "slide' "circular' "tube' "zoom-in-out' "rotate'
        transitionEffect: "slide",
        transitionDuration: 366,
        slideClass: "",
        baseClass: "",
        baseTpl:
            '<div class="fancybox-container" role="dialog" tabindex="-1">' +
            '<div class="fancybox-bg"></div>' +
            '<div class="fancybox-inner">' +
            '<div class="fancybox-infobar"><span data-fancybox-index></span>&nbsp;/&nbsp;<span data-fancybox-count></span></div>' +
            '<div class="fancybox-toolbar">{{buttons}}</div>' +
            '<div class="fancybox-navigation">{{arrows}}</div>' +
            '<div class="fancybox-stage"></div>' +
            '<div class="fancybox-caption"><div class=""fancybox-caption__body"></div></div>' +
            '</div>' +
            '</div>',
        spinnerTpl: '<div class="fancybox-loading"></div>',
        errorTpl: '<div class="fancybox-error"><p>{{ERROR}}</p></div>',
        btnTpl: {
            download:
                '<a download data-fancybox-download class="fancybox-button fancybox-button--download" title="{{DOWNLOAD}}" href="javascript:;">' +
                '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.62 17.09V19H5.38v-1.91zm-2.97-6.96L17 11.45l-5 4.87-5-4.87 1.36-1.32 2.68 2.64V5h1.92v7.77z"/></svg>' +
                "</a>",

            zoom:
                '<button data-fancybox-zoom class="fancybox-button fancybox-button--zoom" title="{{ZOOM}}">' +
                '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.7 17.3l-3-3a5.9 5.9 0 0 0-.6-7.6 5.9 5.9 0 0 0-8.4 0 5.9 5.9 0 0 0 0 8.4 5.9 5.9 0 0 0 7.7.7l3 3a1 1 0 0 0 1.3 0c.4-.5.4-1 0-1.5zM8.1 13.8a4 4 0 0 1 0-5.7 4 4 0 0 1 5.7 0 4 4 0 0 1 0 5.7 4 4 0 0 1-5.7 0z"/></svg>' +
                "</button>",

            close:
                '<button data-fancybox-close class="fancybox-button fancybox-button--close" title="{{CLOSE}}">' +
                '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"/></svg>' +
                "</button>",

            // Arrows
            arrowLeft:
                '<button data-fancybox-prev class="fancybox-button fancybox-button--arrow_left" title="{{PREV}}">' +
                '<div><i class="fas fa-chevron-left" style="font-size:2em"></i></div>' +
                "</button>",

            arrowRight:
                '<button data-fancybox-next class="fancybox-button fancybox-button--arrow_right" title="{{NEXT}}">' +
                '<div><i class="fas fa-chevron-right" style="font-size:2em"></i></div>' +
                "</button>",

            // This small close button will be appended to your html/inline/ajax content by default,
            // if "smallBtn" option is not set to false
            smallBtn:
                '<button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="{{CLOSE}}">' +
                '<svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"/></svg>' +
                "</button>"
        },
        media: {},
        slideShow: {
            autoStart: false,
            speed: 1000
        },
        lang: "pl",
        i18n: {
            en: {
                CLOSE: "Close",
                NEXT: "Next",
                PREV: "Previous",
                ERROR: "The requested content cannot be loaded. <br/> Please try again later.",
                PLAY_START: "Start slideshow",
                PLAY_STOP: "Pause slideshow",
                FULL_SCREEN: "Full screen",
                THUMBS: "Thumbnails",
                DOWNLOAD: "Download",
                SHARE: "Share",
                ZOOM: "Zoom"
            },
            pl: {
                CLOSE: "Zamknij",
                NEXT: "Następny",
                PREV: "Poprzedni",
                ERROR: "Wystąpił błąd <br/> Spróbuj później.",
                PLAY_START: "Rozpocznij pokaz",
                PLAY_STOP: "Zatrzymaj pokaz",
                FULL_SCREEN: "Pełny ekran",
                THUMBS: "Małe ikony",
                DOWNLOAD: "Zachowaj na dysk",
                SHARE: "Udostępnij",
                ZOOM: "Powiększ"
            }
        }
    });
</script>
</body>
</html>
