/* ============================================== */
/* CATEGORY TILES */
/* ============================================== */
.category-tiles-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.category-tile {
    background-color: #8d8d8d;
    height: 420px;
    border-style: solid;
    border-width: 1px;
    border-color: #007bff;
}
.category-tile-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.category-tile-2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}
.category-tile-3 {
    grid-column: 1/ 3;
    grid-row: 2 / 3;
}
.category-tile-4 {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}
.category-tile-5 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.category-tile-6 {
    grid-column: 4 / 6;
    grid-row: 3 / 4;
}
.category-tile-7 {
    grid-column: 1/ 3;
    grid-row: 4 / 5;
}
.category-tile-8 {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
    text-decoration: none;
}


/* ============================================== */
/* SUBCATEGORY TILES */
/* ============================================== */
.subcategory-tiles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.subcategory-tile {
    background-color: #8d8d8d;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #007bff;
}
.subcategory-tile-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.subcategory-tile-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.subcategory-tile-3 {
    grid-column: 3/ 4;
    grid-row: 1 / 2;
}
.subcategory-tile-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.subcategory-tile-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.subcategory-tile-6 {
    grid-column: 3/ 4;
    grid-row: 2 / 3;
}
.subcategory-tile-7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.subcategory-tile-8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.subcategory-tile-9 {
    grid-column: 3/ 4;
    grid-row: 3 / 4;
}
.subcategory-tile-10 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.subcategory-tile-11 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.subcategory-tile-12 {
    grid-column: 3/ 4;
    grid-row: 4 / 5;
}
.subcategory-tile-13 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.subcategory-tile-14 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.subcategory-tile-15 {
    grid-column: 3/ 4;
    grid-row: 5 / 6;
}