{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'options' %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ ('form_option_edit_title')|trans }}</h2>
        <form class="needs-validation" action="{{ url_for('article.option.edit', {'id': option.id}) }}" method="post" novalidate>

            {{ flash('error')|raw }}

            <div class="form-group">
                <label for="feature">{{ 'feature'|trans }}:</label>
                <select class="custom-select {{ vld_style('feature_id') }}" id="feature_id" name="feature_id" aria-describedby="featureIdHelp">
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for feature in features %}
                        {% if feature.id == option.feature_id %}
                            <option value="{{ feature.id }}" selected>{{ feature.ref }}</option>
                        {% else %}
                            <option value="{{ feature.id }}">{{ feature.ref }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <small id="featureIdHelp" class="form-text text-muted">{{ 'feature_help'|trans }}.</small>
                {{ vld_feedback('feature_id')|raw }}
            </div>

            <div class="form-group">
                <label for="ref">{{ 'ref'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('ref') }}"
                       id="ref"
                       name="ref"
                       aria-describedby="refHelp"
                       value="{{ option.ref }}">
                <small id="refHelp" class="form-text text-muted">{{ 'option_ref_help'|trans }}.</small>
                {{ vld_feedback('ref')|raw }}
            </div>

            <div class="form-group">
                <label for="number">{{ 'number'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('number') }}"
                       id="number"
                       name="number"
                       aria-describedby="numberHelp"
                       value="{{ option.number }}">
                <small id="numberHelp" class="form-text text-muted">{{ 'option_number_help'|trans }}.</small>
                {{ vld_feedback('number')|raw }}
            </div>

            <div class="form-group">
                <label for="price_factor">{{ 'price_factor'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('price_factor') }}"
                       id="price_factor"
                       name="price_factor"
                       aria-describedby="priceFactorHelp"
                       value="{{ option.price_factor }}">
                <small id="priceFactorHelp" class="form-text text-muted">{{ 'option_price_factor_help'|trans }}.</small>
                {{ vld_feedback('price_factor')|raw }}
            </div>

            <div class="form-group">
                <label for="pl">{{ 'pl' }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('pl') }}"
                       id="pl"
                       name="pl"
                       aria-describedby="plHelp"
                       value="{{ option.pl }}">
                <small id="plHelp" class="form-text text-muted">{{ 'version_pl_help'|trans }}.</small>
                {{ vld_feedback('pl')|raw }}
            </div>

            <div class="form-group">
                <label for="en">{{ 'en' }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('en') }}"
                       id="en"
                       name="en"
                       aria-describedby="enHelp"
                       value="{{ option.en }}">
                <small id="enHelp" class="form-text text-muted">{{ 'version_en_help'|trans }}.</small>
                {{ vld_feedback('en')|raw }}
            </div>

            {{ csrf()|raw }}

            <div class="text-right">
                <a class="btn btn-secondary" href="{{ url_for('article.options.show') }}" role="button">{{ 'cancel'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
            </div>

        </form>
    </div>
{% endblock %}