{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'options' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% block content %}
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ flash_values.page_title|trans }}</h2>
        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th class="rel-clmn" scope="col">{{ 'feature'|trans }}</th>
                <th scope="col">{{ 'ref'|trans }}</th>
                <th scope="col">{{ 'n°' }}</th>
                <th scope="col">{{ 'price_factor'|trans }}</th>
                <th scope="col">{{ 'pl' }}</th>
                <th scope="col">{{ 'en' }}</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for option in options %}
                {% set n = n + 1 %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ option.info }}">
                    <th scope="row">{{ n }}</th>
                    <td class="rel-clmn">{{ option.feature_ref }}</td>
                    <td>{{ option.ref }}</td>
                    <td>{{ option.number }}</td>
                    <td>{{ option.price_factor }}</td>
                    <td>{{ option.pl }}</td>
                    <td>{{ option.en }}</td>
                    <td><a href="{{ url_for('article.option.edit', {'id': option.id}) }}">{{ 'modify'|trans }}</a></td>
                    <td><a href="{{ url_for('article.option.delete', {'id': option.id}) }}">{{ 'delete'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination.links|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('cms.index') }}" role="button">{{ 'back'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('article.option.add') }}" role="button">{{ 'add'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('article.options.edit') }}" role="button">{{ 'edit'|trans }}</a>
        </div>
    </div>
{% endblock %}
