<div id="ajax-content">
    <h2 class="title">{{ ('form_options_edit_search_criteria_title')|trans }}</h2>
    <div class="form-inline">
        <div class="form-group">
            <label for="categorys">{{ 'category'|trans }}:</label>
            <select class="custom-select {{ vld_style('category_id') }} search-select-options-edit" id="categorys" name="category_id" aria-describedby="categoryIdHelp">
                {% if categorys %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for category in categorys %}
                        {% if category.id == criteria.category_id %}
                            <option value="{{ category.id }}" selected>{{ category.ref }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label for="subcategorys">{{ 'subcategory'|trans }}:</label>
            <select class="custom-select {{ vld_style('subcategory_id') }} search-select-options-edit" id="subcategorys" name="subcategory_id" aria-describedby="subcategoryIdHelp">
                {% if subcategorys %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for subcategory in subcategorys %}
                        {% if subcategory.id == criteria.subcategory_id %}
                            <option value="{{ subcategory.id }}" selected>{{ subcategory.ref }}</option>
                        {% else %}
                            <option value="{{ subcategory.id }}">{{ subcategory.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <label for="features">{{ 'feature'|trans }}:</label>
            <select class="custom-select {{ vld_style('feature_id') }} search-select-options-edit" id="features" name="feature_id" aria-describedby="featureIdHelp">
                {% if features %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for feature in features %}
                        {% if feature.id == criteria.feature_id %}
                            <option value="{{ feature.id }}" selected>{{ feature.ref }}</option>
                        {% else %}
                            <option value="{{ feature.id }}">{{ feature.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>

    {% if options %}

        <h2 class="title">{{ ('form_options_edit_title')|trans }}</h2>

        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'ID' }}</th>
                <th scope="col">{{ 'feature_id'|trans }}</th>
                <th scope="col">{{ 'ref'|trans }}</th>
                <th scope="col">{{ 'n°' }}</th>
                <th scope="col">{{ 'price_factor'|trans }}</th>
                <th scope="col">{{ 'pl' }}</th>
                <th scope="col">{{ 'en' }}</th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for option in options %}
                {% set n = n + 1 %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ option.info }}">
                    <th scope="row">{{ n }}</th>
                    <td><input type="text" name="id[{{ n }}]" value="{{ option.id }}" readonly></td>
                    <td><input type="text" name="feature_id[{{ n }}]" value="{{ option.feature_id }}" readonly></td>
                    <td><input type="text" name="ref[{{ n }}]" value="{{ option.ref }}" readonly></td>
                    <td><input type="text" name="number[{{ n }}]" value="{{ option.number }}"></td>
                    <td><input type="text" name="price_factor[{{ n }}]" value="{{ option.price_factor }}"></td>
                    <td><input type="text" name="pl[{{ n }}]" value="{{ option.pl }}"></td>
                    <td><input type="text" name="en[{{ n }}]" value="{{ option.en }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <div class="text-right">
        <a class="btn btn-secondary" href="{{ url_for('article.options.show') }}" role="button">{{ 'back'|trans }}</a>
        {% if options %}
            <button type="submit" class="btn btn-primary">{{ 'confirm'|trans }}</button>
        {% endif %}
    </div>

</div>