<div id="ajax-content">

    <h2 class="title">{{ ('form_quantitys_add_search_criteria_title')|trans }}</h2>
    <div>
        <div class="form-group col-3">
            <label for="categorys">{{ 'category'|trans }}:</label>
            <select class="custom-select {{ vld_style('category_id') }} search-select-quantitys-add" id="categorys" name="category_id" aria-describedby="categoryIdHelp">
                {% if categorys %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for category in categorys %}
                        {% if category.id == criteria.category_id %}
                            <option value="{{ category.id }}" selected>{{ category.ref }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group col-3">
            <label for="subcategorys">{{ 'subcategory'|trans }}:</label>
            <select class="custom-select {{ vld_style('subcategory_id') }} search-select-quantitys-add" id="subcategorys" name="subcategory_id" aria-describedby="subcategoryIdHelp">
                {% if subcategorys %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for subcategory in subcategorys %}
                        {% if subcategory.id == criteria.subcategory_id %}
                            <option value="{{ subcategory.id }}" selected>{{ subcategory.ref }}</option>
                        {% else %}
                            <option value="{{ subcategory.id }}">{{ subcategory.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group col-3">
            <label for="features1">{{ 'feature'|trans ~ ' n°1' }}:</label>
            <select class="custom-select {{ vld_style('feature1_id') }} search-select-quantitys-add" id="features1" name="feature1_id" aria-describedby="feature1IdHelp">
                {% if features1 %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for feature1 in features1 %}
                        {% if feature1.id == criteria.feature1_id %}
                            <option value="{{ feature1.id }}" selected>{{ feature1.ref }}</option>
                        {% else %}
                            <option value="{{ feature1.id }}">{{ feature1.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group col-3">
            <label for="features2">{{ 'feature'|trans ~ ' n°2'}}:</label>
            <select class="custom-select {{ vld_style('feature2_id') }} search-select-quantitys-add" id="features2" name="feature2_id" aria-describedby="feature2IdHelp">
                {% if features2 %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for feature2 in features2 %}
                        {% if feature2.id == criteria.feature2_id %}
                            <option value="{{ feature2.id }}" selected>{{ feature2.ref }}</option>
                        {% else %}
                            <option value="{{ feature2.id }}">{{ feature2.ref }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="form-group col-3">
            <label for="entrys">{{ 'entrys_number'|trans }}:</label>
            <select class="custom-select {{ vld_style('entrys_number') }} search-select-quantitys-add" id="entrys" name="entrys_number" aria-describedby="entrysNumberHelp">
                {% if entrys %}
                    <option value="">{{ 'choose'|trans }}</option>
                    {% for entry in entrys %}
                        {% if entry == criteria.entrys_number %}
                            <option value="{{ entry }}" selected>{{ entry }}</option>
                        {% else %}
                            <option value="{{ entry }}">{{ entry }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

    </div>

    {% if criteria.entrys_number %}

        <h2 class="title">{{ ('form_quantitys_add_title')|trans }}</h2>
        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'option'|trans  ~ ' n°1' }}</th>
                <th scope="col">{{ 'option'|trans  ~ ' n°2' }}</th>
                <th scope="col">{{ 'quantity_price_factor'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for entry in 1..criteria.entrys_number %}
                {% set n = n + 1 %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ quantity.info }}">
                    <th scope="row">{{ n }}</th>
                    <td>
                        <select class="custom-select table-select col-3" name="feature1_option_id[{{ n }}]">
                            {% if feature1_options %}
                                <option value="">{{ 'choose'|trans }}</option>
                                {% for option in feature1_options %}
                                    <option value="{{ option.id }}">{{ option.ref }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <select class="custom-select table-select col-3" name="feature2_option_id[{{ n }}]">
                            {% if feature2_options %}
                                <option value="">{{ 'choose'|trans }}</option>
                                {% for option in feature2_options %}
                                    <option value="{{ option.id }}">{{ option.ref }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                    <td><input class="table-input col-6" type="text" name="quantity_price_factor[{{ n }}]" value=""></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    <div class="text-right">
        <a class="btn btn-secondary" href="{{ url_for('article.quantitys.show') }}" role="button">{{ 'back'|trans }}</a>
        {% if criteria.entrys_number %}
            <button type="submit" class="btn btn-primary">{{ 'add'|trans }}</button>
        {% endif %}
    </div>

</div>
