{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'privileges' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% block content %}
    <h2 class="title">{{ flash_values.page_title|trans }}</h2>
    <table class="table table-striped table-dark table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'ref'|trans }}</th>
            <th scope="col">{{ 'access'|trans }}</th>
            <th scope="col">{{ 'route'|trans }}</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set n = 0 %}
        {% for privilege in privileges %}
            {% set n = n + 1 %}
            {% set access = accesses[privilege.access] %}
            <tr data-toggle="tooltip" data-placement="top" title="{{ privilege.info }}">
                <th scope="row">{{ n }}</th>
                <td>{{ privilege.ref }}</td>
                <td>{{ '(' ~ access.level ~ ') ' ~ access.ref }}</td>
                <td>{{ privilege.route }}</td>
                <td><a href="{{ url_for('autho.privilege.roles.edit', {'id': privilege.id}) }}">{{ 'roles'|trans }}</a></td>
                <td><a href="{{ url_for('autho.privilege.fields.edit', {'id': privilege.id}) }}">{{ 'fields'|trans }}</a></td>
                <td><a href="{{ url_for('autho.privilege.edit', {'id': privilege.id}) }}">{{ 'modify'|trans }}</a></td>
                <td><a href="{{ url_for('autho.privilege.delete', {'id': privilege.id}) }}">{{ 'delete'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination.links|raw }}

    <div class="text-right">
        <a class="btn btn-secondary" href="{{ url_for('admin.index') }}" role="button">{{ 'back'|trans }}</a>
        <a class="btn btn-primary" href="{{ url_for('autho.privilege.add') }}" role="button">{{ 'add'|trans }}</a>
    </div>
{% endblock %}
