{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'dashboard'|trans %}
{% set active_item = 'dashboard' %}
{% set active_sub_item = 'index' %}

{% block content %}
    <main role="main" class="inner cover">

    </main>
{% endblock %}