{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'index' %}

{% block content %}
    <main role="main" class="inner cover">

    </main>
{% endblock %}