@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

*{
    margin: 0;
    padding: 0;
    border:0;
    font-family: "Source Sans Pro", sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.left_area h3{
    color: #fff;
    margin: 0;
    /*text-transform: uppercase;*/
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: #19B3D3;
}

nav {

float: right;
}

.nav-link{
    text-decoration: none;
    margin-top: -30px;
    margin-right: 40px;
    font-size:18px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: color;
}

.nav-link:hover{
    color: #19B3D3;
}


.sidebar {
    background: #2f323a;
    margin-top: 0;
    padding-top: 100px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: 0.5s;
    transition-property: left;
}

.iconify-ss {
    margin: 0 10px 0 0;
    width: 24px;
    height: 24px;
}

.iconify-bs {
    color: #19B3D3;
    width: 72px;
    height: 72px;
    margin: 0 auto;
}

.iconify-hs {
    color: #19B3D3;
    width: 216px;
    height: 216px;
    margin: 50px;
}


.sidebar div {
    text-align: center;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #19B3D3;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #19B3D3;
}



#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}




.content{
    margin: 0 0 0 250px;
    padding-top: 100px;
    background: url(../img/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}