{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = label ~ 's' %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ ('form_' ~ label ~ '_add_title')|trans }}</h2>
        <form class="needs-validation" action="{{ url_for('article.' ~ label ~ '.add') }}" method="post" novalidate>

            {{ flash('error')|raw }}

            <div class="form-group">
                <label for="ref">{{ 'ref'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('ref') }}"
                       id="ref"
                       name="ref"
                       aria-describedby="refHelp"
                       value="{{ feature.ref }}">
                <small id="refHelp" class="form-text text-muted">{{ label ~ '_ref_help'|trans }}.</small>
                {{ vld_feedback('ref')|raw }}
            </div>

            <div class="form-group">
                <label for="number">{{ 'number'|trans }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('number') }}"
                       id="number"
                       name="number"
                       aria-describedby="numberHelp"
                       value="{{ feature.number }}">
                <small id="numberHelp" class="form-text text-muted">{{ label ~ '_number_help'|trans }}.</small>
                {{ vld_feedback('number')|raw }}
            </div>

            <div class="form-group">
                <label for="pl">{{ 'pl' }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('pl') }}"
                       id="pl"
                       name="pl"
                       aria-describedby="plHelp"
                       value="{{ feature.pl }}">
                <small id="plHelp" class="form-text text-muted">{{ 'version_pl_help'|trans }}.</small>
                {{ vld_feedback('pl')|raw }}
            </div>

            <div class="form-group">
                <label for="en">{{ 'en' }}:</label>
                <input type="text"
                       class="form-control {{ vld_style('en') }}"
                       id="en"
                       name="en"
                       aria-describedby="enHelp"
                       value="{{ feature.en }}">
                <small id="enHelp" class="form-text text-muted">{{ 'version_en_help'|trans }}.</small>
                {{ vld_feedback('en')|raw }}
            </div>

            {{ csrf()|raw }}

            <div class="text-right">
                <a class="btn btn-secondary" href="{{ url_for('article.' ~ label ~ 's.show') }}" role="button">{{ 'cancel'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add'|trans }}</button>
            </div>

        </form>
    </div>
{% endblock %}