{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'subcategorys' %}

{% block content %}
    <h2 class="title">{{ 'form_subcategory_features_edit_title'|trans }}</h2>
    <form class="needs-validation"
          action="{{ url_for('article.subcategory.features.edit', {'id': subcategory.id}) }}"
          method="post" novalidate>

        {{ flash('error')|raw }}

        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'ref'|trans }}</th>
                <th scope="col">{{ 'pl' }}</th>
                <th scope="col">{{ 'en' }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for feature in features %}
                {% set n = n + 1 %}
                {% set checked = '' %}
                {% if has_key(subcategory_features, feature.id) %}
                    {% set checked = 'checked' %}
                {% endif %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ feature.info }}">
                    <th scope="row">{{ n }}</th>
                    <td>{{ feature.ref }}</td>
                    <td>{{ feature.pl }}</td>
                    <td>{{ feature.en }}</td>
                    <td><input type="checkbox" name="id[{{ feature.id }}]" value="{{ feature.id }}" {{ checked }}></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary"
               href="{{ url_for('article.subcategorys.show') }}"
               role="button">
                {{ 'cancel'|trans }}
            </a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}