{#{% extends '@app/dashboard-layout.html.twig' %}#}

{#{% set page_title = 'cms'|trans %}#}
{#{% set active_item = 'cms' %}#}
{#{% set active_sub_item = 'options' %}#}

{% block content %}

{#    <h2 class="title">{{ ('form_option_add_title')|trans }}</h2>#}
{#    <form class="needs-validation" action="{{ url_for('article.option.add') }}" method="post" novalidate>#}

{#        {{ flash('error')|raw }}#}

{#        <div class="form-group">#}
{#            <label for="ref">{{ 'ref'|trans }}:</label>#}
{#            <input type="text"#}
{#                   class="form-control {{ vld_style('ref') }}"#}
{#                   id="ref"#}
{#                   name="ref"#}
{#                   aria-describedby="refHelp"#}
{#                   value="{{ option.ref }}">#}
{#            <small id="refHelp" class="form-text text-muted">{{ label ~ '_ref_help'|trans }}.</small>#}
{#            {{ vld_feedback('ref')|raw }}#}
{#        </div>#}

{#        <div class="form-group">#}
{#            <label for="pl">{{ 'pl' }}:</label>#}
{#            <input type="text"#}
{#                   class="form-control {{ vld_style('pl') }}"#}
{#                   id="pl"#}
{#                   name="pl"#}
{#                   aria-describedby="plHelp"#}
{#                   value="{{ option.pl }}">#}
{#            <small id="plHelp" class="form-text text-muted">{{ 'version_pl_help'|trans }}.</small>#}
{#            {{ vld_feedback('pl')|raw }}#}
{#        </div>#}

{#        <div class="form-group">#}
{#            <label for="en">{{ 'en' }}:</label>#}
{#            <input type="text"#}
{#                   class="form-control {{ vld_style('en') }}"#}
{#                   id="en"#}
{#                   name="en"#}
{#                   aria-describedby="enHelp"#}
{#                   value="{{ option.en }}">#}
{#            <small id="enHelp" class="form-text text-muted">{{ 'version_en_help'|trans }}.</small>#}
{#            {{ vld_feedback('en')|raw }}#}
{#        </div>#}

{#        {{ csrf()|raw }}#}

{#        <div class="text-right">#}
{#            <a class="btn btn-secondary" href="{{ url_for('article.options.show') }}" role="button">{{ 'cancel'|trans }}</a>#}
{#            <button type="submit" class="btn btn-primary">{{ 'add'|trans }}</button>#}
{#        </div>#}

{#    </form>#}
{% endblock %}