{% extends '@app/e-commerce-layout.html.twig' %}

{% set page_title = 'e-commerce'|trans %}
{% set active_item = 'e-commerce' %}
{% set active_sub_item = 'article' %}

{% set local = session('local') %}

{% set form = options[0] %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ ('form_article_configurator_title')|trans }}</h2>
        <form class="needs-validation" action="{{ '/' ~ form.subcategory_ref }}" method="post" novalidate>

            {{ flash('error')|raw }}

            {% set features = cascade(options, 'feature_ref', local) %}

            {% for feature in features %}

                {% set key = feature.id %}

                <div class="form-group">

                    <label for="{{ 'feature_' ~ key }}">{{ feature.label }}:</label>

                    <select class="custom-select {{ vld_style('features', key) }}" id="{{ 'feature_' ~ key }}" name="features[{{ key }}]" aria-describedby="featureHelp">

                        {% set options = feature.items %}

{#                        <option value="">{{ 'choose'|trans }}</option>#}
                        {% for option in options %}
                            {% if option.id == article.features[key] %}
                                <option value="{{ option.id }}" selected>{{ option[local] }}</option>
                            {% else %}
                                <option value="{{ option.id }}">{{ option[local] }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                    {{ vld_feedback('features', key)|raw }}
                    <small id="featureHelp" class="form-text text-muted">{{ 'feature_help'|trans }}.</small>

                </div>

            {% endfor %}

            {{ csrf()|raw }}

            <div class="text-right">
                <a class="btn btn-secondary" href="{{ url_for('main.index.local') }}" role="button">{{ 'cancel'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'add'|trans }}</button>
            </div>

        </form>
    </div>
{% endblock %}