{% extends '@error/layout.html.twig' %}

{% set page_title = 'error'|trans %}
{% set active_item = 'error' %}

{% block content %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">{{ code }}</h1>
        <p class="lead">{{ message|trans }}</p>
    </main>
{% endblock %}