{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'categorys' %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ ('form_category_delete_title')|trans }}</h2>
        <form class="needs-validation" action="{{ url_for('article.category.delete', {'id': id}) }}" method="post" novalidate>

            {{ flash('warning')|raw }}

            {{ csrf()|raw }}

            <div class="text-right">
                <a class="btn btn-secondary" href="{{ url_for('article.categorys.show') }}" role="button">{{ 'cancel'|trans }}</a>
                <button type="submit" class="btn btn-primary">{{ 'confirm'|trans }}</button>
            </div>

        </form>
    </div>
{% endblock %}
