{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = 'quantitys' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% block content %}
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h2 class="title">{{ flash_values.page_title|trans }}</h2>
        <table class="table table-striped table-dark table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th class="rel-clmn" scope="col">{{ 'option'|trans ~ ' n°1' }}</th>
                <th class="rel-clmn" scope="col">{{ 'option'|trans ~ ' n°2' }}</th>
                <th scope="col">{{ 'quantity_price_factor'|trans }}</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for quantity in quantitys %}
                {% set n = n + 1 %}
                <tr data-toggle="tooltip" data-placement="top" title="{{ quantity.info }}">
                    <th scope="row">{{ n }}</th>
                    <td class="rel-clmn">{{ quantity.feature1_option_ref }}</td>
                    <td class="rel-clmn">{{ quantity.feature2_option_ref }}</td>
                    <td>{{ quantity.quantity_price_factor }}</td>
                    <td><a href="{{ url_for('article.quantity.edit', {'id': quantity.id}) }}">{{ 'modify'|trans }}</a></td>
                    <td><a href="{{ url_for('article.quantity.delete', {'id': quantity.id}) }}">{{ 'delete'|trans }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination.links|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('cms.index') }}" role="button">{{ 'back'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('article.quantitys.add') }}" role="button">{{ 'add'|trans }}</a>
            <a class="btn btn-primary" href="{{ url_for('article.quantitys.edit') }}" role="button">{{ 'edit'|trans }}</a>
        </div>
    </div>
{% endblock %}
