{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'credentials' %}

{% set flash_values = flash('value') %}

{% block content %}
    <h2 class="title">{{ 'form_add_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.add') }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'email_address'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ credential.ref }}">
            <small id="refHelp" class="form-text text-muted">{{ 'email_address_help'|trans }}.</small>
            {{ vld_feedback('ref')|raw }}
        </div>

        <div class="form-group">
            <label for="ref">{{ 'role_id'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('role_id') }}"
                   id="role_id"
                   name="role_id"
                   aria-describedby="refHelp"
                   value="{{ credential.roleId }}">
            <small id="refHelp" class="form-text text-muted">{{ 'role_id_help'|trans }}.</small>
            {{ vld_feedback('role_id')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash">{{ 'password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash') }}"
                   id="password_hash"
                   name="password_hash"
                   aria-describedby="passwordHelp"
                   value="">
            <small id="passwordHelp" class="form-text text-muted">{{ 'password_help'|trans }}.</small>
            {{ vld_feedback('password_hash')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash_repeat">{{ 'repeat_password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash_repeat') }}"
                   id="password_hash_repeat"
                   name="password_hash_repeat"
                   value="">
            {{ vld_feedback('password_hash_repeat')|raw }}
        </div>

        <input type="hidden" id="terms" name="terms" value="OK">

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('authe.credentials.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'add'|trans }}</button>
        </div>

    </form>
{% endblock %}
