{% extends '@app/layout_oauth.html.twig' %}

{% set page_title = 'authentication'|trans %}
{% set active_item = 'authentication' %}

{% block content %}
    <h2 class="title">{{ 'form_authenticate_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.authenticate') }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'email_address'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ credential.ref }}">
            {{ vld_feedback('ref')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash">{{ 'password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash') }}"
                   id="password_hash"
                   name="password_hash"
                   aria-describedby="passwordHelp"
                   value="">
            {{ vld_feedback('password_hash')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <button type="submit" class="btn btn-primary">{{ 'authenticate'|trans }}</button>
        </div>

    </form>
{% endblock %}