{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'credentials' %}

{% block content %}
    <h2 class="title">{{ 'form_delete_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.delete', {'id': replace('.', '_', id)}) }}" method="post" novalidate>

        {{ flash('warning')|raw }}

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('authe.credentials.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'confirm'|trans }}</button>
        </div>

    </form>
{% endblock %}