{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'credentials' %}

{% block content %}
    <h2 class="title">{{ 'form_update_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.edit', {'id': replace('.', '_', credential.id)}) }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'role_id'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('role_id') }}"
                   id="role_id"
                   name="role_id"
                   aria-describedby="refHelp"
                   value="{{ credential.roleId }}">
            <small id="refHelp" class="form-text text-muted">{{ 'role_id_help'|trans }}.</small>
            {{ vld_feedback('role_id')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('authe.credentials.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}