{% extends '@app/layout.html.twig' %}

{% set page_title = 'authentication'|trans %}
{% set active_item = 'authentication' %}

{% block content %}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your Authentication page.</h1>
    </main>
{% endblock %}