{% extends '@app/layout.html.twig' %}

{% set page_title = 'authentication'|trans %}
{% set active_item = 'log_out' %}

{% block content %}
    <h2 class="title">{{ 'form_logout_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.logout') }}" method="post" novalidate>

        {{ flash('warning')|raw }}

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('main.index') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'confirm'|trans }}</button>
        </div>

    </form>
{% endblock %}