{% extends '@app/layout.html.twig' %}

{% set page_title = 'authentication'|trans %}
{% set active_item = 'restore' %}

{% block content %}
    <h2 class="title">{{ 'form_restore_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.restore') }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'email_address'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ credential.ref }}">
            {{ vld_feedback('ref')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('main.index') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'restore'|trans }}</button>
        </div>

    </form>
{% endblock %}