{% extends '@app/layout.html.twig' %}

{% set page_title = 'authentication'|trans %}
{% set active_item = 'subscribe' %}

{% set flash_values = flash('value') %}
{% set recaptcha_api_script = flash_values.recaptcha_api_script %}
{% set recaptcha_site_key = flash_values.recaptcha_site_key %}

{% block content %}
    <h2 class="title">{{ 'form_subscribe_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('authe.credential.subscribe') }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'email_address'|trans }}:</label>
            <input type="email"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ credential.ref }}">
            <small id="refHelp" class="form-text text-muted">{{ 'email_address_help'|trans }}.</small>
            {{ vld_feedback('ref')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash">{{ 'password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash') }}"
                   id="password_hash"
                   name="password_hash"
                   aria-describedby="passwordHelp"
                   value="">
            <small id="passwordHelp" class="form-text text-muted">{{ 'password_help'|trans }}.</small>
            {{ vld_feedback('password_hash')|raw }}
        </div>

        <div class="form-group">
            <label for="password_hash_repeat">{{ 'repeat_password'|trans }}:</label>
            <input type="password"
                   class="form-control {{ vld_style('password_hash_repeat') }}"
                   id="password_hash_repeat"
                   name="password_hash_repeat"
                   value="">
            {{ vld_feedback('password_hash_repeat')|raw }}
        </div>

        <div class="form-group form-check">
            <input type="checkbox"
                   class="form-check-input {{ vld_style('terms') }}"
                   id="terms"
                   name="terms"
                   aria-describedby="termsHelp"
                   value="OK">
            <label class="form-check-label" for="terms">{{ 'i_accept'|trans }}</label>
            <small id="termsHelp" class="form-text text-muted">{{ 'i_accept_terms'|trans }}.</small>
            {{ vld_feedback('terms')|raw }}
        </div>

        <input type="hidden"
               id="g-recaptcha-response"
               name="g-recaptcha-response"
               value=""><br>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('main.index') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'subscribe'|trans }}</button>
        </div>

    </form>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'homepage'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
{% endblock %}
