{% extends '@app/layout.html.twig' %}

{% set page_title = 'main'|trans %}
{% set active_item = 'main' %}

{% block content %}
    <main role="main">

{#        <section class="jumbotron text-center">#}
{#            <div class="container">#}
{#                <h1>{{ 'witamy_w_tribet'|trans }}</h1>#}
{#                <p class="lead text-muted">PRODUKUJEMY TORBY PAPIEROWE I MATERIAŁY REKLAMOWE#}
{#                    WSPIERAJĄCE IDENTYFIKACJĘ WIZUALNĄ TWOJEJ FIRMY.</p>#}
{#                <p>#}
{#                    <a href="#" class="btn btn-primary my-2">{{ 'nasza_oferta'|trans }}</a>#}
{#                </p>#}
{#            </div>#}
{#        </section>#}

        <div class="album py-5">
            <div class="container">

{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.paperbag') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'torby_papierowe'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.ecobag') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'torby_ekologiczne'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.folder') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'teczki'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.catalog') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'katalogi'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.leaflet') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'ulotki'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.notebook') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'notesy'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.card') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'wizytowki'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="{{ url_for('main.articles.calendar') }}">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'kalendarze'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="row">#}
{#                    <div class="col-md-4">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="#">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'uchwyty_toreb_folie_hot_stamping'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="#">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'szablony_graficzne'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4">#}
{#                        <div class="card mb-4 shadow-sm">#}
{#                            <a href="#">#}
{#                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">#}
{#                                    <title>Placeholder</title>#}
{#                                    <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ 'realizacje'|trans }}</text>#}
{#                                </svg>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

            </div>
        </div>

    </main>
{% endblock %}