{% extends '@app/dashboard-layout.html.twig' %}

{% set page_title = 'admin'|trans %}
{% set active_item = 'admin' %}
{% set active_sub_item = 'fields' %}

{% block content %}
    <h2 class="title">{{ 'form_field_edit_title'|trans }}</h2>
    <form class="needs-validation" action="{{ url_for('autho.field.edit', {'id': field.id}) }}" method="post" novalidate>

        {{ flash('error')|raw }}

        <div class="form-group">
            <label for="ref">{{ 'ref'|trans }}:</label>
            <input type="text"
                   class="form-control {{ vld_style('ref') }}"
                   id="ref"
                   name="ref"
                   aria-describedby="refHelp"
                   value="{{ field.ref }}">
            <small id="refHelp" class="form-text text-muted">{{ 'field_ref_help'|trans }}.</small>
            {{ vld_feedback('ref')|raw }}
        </div>

        {{ csrf()|raw }}

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('autho.fields.show') }}" role="button">{{ 'cancel'|trans }}</a>
            <button type="submit" class="btn btn-primary">{{ 'update'|trans }}</button>
        </div>

    </form>
{% endblock %}